@import '../variables';

.button {
  display: flex;
  align-items: baseline;
  justify-content: center;
  background-color: $orange;
  border-radius: 1.6vw;
  padding: 0 1vw;
  line-height: 2.5vw;
  min-width: 5.2vw;
  text-align: center;
  cursor: pointer;
  transition: background-color $duration ease-in-out, border-color $duration ease-in-out;
  border: .05vw solid transparent;
  @include noselect();

  &,
  span {
    color: #fff;
  }

  i,
  span,
  path,
  svg {
    transition: all $duration ease-in-out;
  }

  &:hover {
    background-color: darken($orange, 8%);
  }

  &:active {
    background-color: darken($orange, 12%);
    transform: translateY(.05vw);
  }

  &--circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.7vw;
    height: 1.7vw;
    min-width: 1.7vw;
    padding: 0;
    border-width: .1vw;
  }

  &--black {
    background-color: $black;

    &:hover,
    &:active {
      background-color: lighten($color: $black, $amount: 10);
    }
  }

  &--outline {
    background-color: #fff;
    border-color: $orange;
    &,
    span {
      color: $orange;
    }

    svg {
      path {
        fill: $orange;
      }
    }

    &:hover {
      background-color: $orange;

      &,
      span {
        color: #fff;
      }

      svg {
        path {
          fill: #fff;
        }
      }
    }

    &:active {
      background-color: darken($orange, 8%);
    }
  }

  &__delimiter {
    width: .05vw;
    height: 1.3vw;
    background-color: rgba(255, 255, 255, 0.25);
    margin-left: .7vw;
    margin-right: .7vw;
  }

  &--add {
    svg {
      margin-right: .1vw;
      width: .5vw;
    }

    span {
      font-weight: 600;
      font-size: .8vw;
    }

    &:hover {
      div {
        background-color: #fff;
        p{
          color: $orange;
        }
      }
    }

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: $orange;

      width: 1.3vw;
      height: 1.3vw;

      //line-height: 1.1vw;
      //position: relative;
      //top: -.05vw;
      //left: .15vw;
      margin-left: 1vw;
      p {
        color: #fff;
        font-weight: 600;
        font-style: normal;
        font-size: .8vw;
        line-height: 0;
      }
    }
  }

  &--cart {
    display: flex;
    align-items: center;
    line-height: 1.2vw;
    padding: .6vw 1.3vw;

    svg {
      margin-right: .4vw;
      margin-bottom: .05vw;
      width: .9vw;
    }

    span {
      font-weight: 600;
      font-size: .8vw;
    }
  }
}
