@import '../variables';

.header {
  border-bottom: .05vw solid $gray-line;
  padding: 2vw 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;

    img {
      width: 2vw;
      margin-right: .7vw;
    }

    h1 {
      color: #181818;
      font-size: 1.25vw;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      font-size: 1vw;
      color: #7b7b7b;
    }
  }
}
