@import 'fonts';
@import 'variables';
@import 'libs/normalize';

@import 'components/all';

body {
  background-color: $background;
  padding: 2.6vw 0;
}

.wrapper {
  width: 95vw;
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
  border-radius: .5vw;
  //max-width: 1400px;
}

.content {
  padding: 2vw 0;

  &__title {
    margin: 1.8vw 0;
    font-size: 1.5vw;
    line-height: 1;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.container {
  width: $container-width;
  margin: 0 auto;

  &--cart {
    max-width: 42vw;
    .content__title {
      margin: 0;
    }
  }
}

.cart {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .content__title {
    display: flex;
    align-items: center;
    font-size: 1.7vw;

    svg {
      position: relative;
      top: -.1vw;
      width: 1.6vw;
      height: 1.6vw;
      margin-right: .5vw;
      path {
        stroke: $black;
        stroke-width: 1.9;
      }
    }
  }

  &__clear {
    display: flex;
    align-items: center;
    cursor: pointer;
    @include noselect();

    span {
      display: inline-block;
      margin-left: .4vw;
      color: #b6b6b6;
      font-size: .9vw;
    }

    svg {
      width: 1.6vw;
    }

    span,
    svg,
    path {
      transition: all $duration ease-in-out;
    }

    &:hover {
      svg {
        path {
          stroke: darken($color: #b6b6b6, $amount: 50);
        }
      }
      span {
        color: darken($color: #b6b6b6, $amount: 50);
      }
    }
  }

  &__item {
    display: flex;
    width: 100%;
    border-top: 1px solid $gray-line;
    padding-top: 1.6vw;
    margin-top: 1.6vw;

    &-img {
      display: flex;
      align-items: center;
      margin-right: .8vw;
      width: 10%;

      img {
        width: 4.2vw;
        height: 4.2vw;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 40%;

      h3 {
        font-weight: bold;
        font-size: 1.1vw;
        line-height: 1.4vw;
        letter-spacing: 0.01em;
      }

      p {
        font-size: .9vw;
        color: #8d8d8d;
      }
    }

    &-count {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 13%;

      &-minus {
        svg {
          path:first-of-type {
            display: none;
          }
        }
      }

      b {
        font-size: 1.1vw;
      }
    }

    &-price {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 33%;

      b {
        font-weight: bold;
        font-size: 1.1vw;
        letter-spacing: 0.01em;
      }
    }

    &-remove {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 4%;

      .button {
        border-color: darken($color: $gray-line, $amount: 10);
      }

      svg {
        transform: rotate(45deg);

        path {
          fill: darken($color: $gray-line, $amount: 15);
        }
      }

      .button {
        svg {
          width: .6vw;
          height: .6vw;
          position: relative;
        }
        &:hover,
        &:active {
          border-color: darken($color: $gray-line, $amount: 80);
          background-color: darken($color: $gray-line, $amount: 80);
        }
      }
    }
  }

  &__bottom {
    margin: 2.6vw 0;

    &-details {
      display: flex;
      justify-content: space-between;

      span {
        font-size: 1.1vw;

        &:last-of-type {
          b {
            color: $orange;
          }
        }
      }
    }

    &-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 2vw;

      .go-back-btn {
        display: flex;
        align-items: center;
        justify-content: center;

        border-color: darken($color: $gray-line, $amount: 10);

        span {
          color: darken($color: $gray-line, $amount: 20);
          font-weight: 600;
        }

        &:hover {
          background-color: darken($color: $gray-line, $amount: 90);
          border-color: darken($color: $gray-line, $amount: 90);

          span {
            color: $gray-line;
          }
        }

        svg {
          margin-right: .6vw;
          width: .4vw;
          path {
            fill: transparent;
            stroke-width: 2;
          }
        }
      }

      .pay-btn {
        font-size: .8vw;
        font-weight: 600;
      }
    }
  }

  &--empty {
    margin: 0 auto;
    width: 29vw;
    text-align: center;

    h2 {
      font-size: 1.7vw;
      margin-bottom: .5vw;
    }

    p {
      font-size: .9vw;
      line-height: 145.4%;
      letter-spacing: 0.01em;
      color: #777777;
    }

    span {
      position: relative;
      top: .1vw;
    }

    img {
      display: block;
      width: 15.6vw;
      margin: 2.3vw auto 3.1vw;
    }

    .button--black {
      margin: 0 auto;
      font-weight: 600;
      font-size: .9vw;
    }
  }
}
